
a {
   color: #11c116;

}
.pageContent{
overflow: auto;
width:960px;
height:200px;
border: 1px solid black;
}
.pageContentHum{
overflow: auto;
width:960px;
border: 1px solid black;
height:300px;
}
.pageContentUser{
overflow: auto;
 height:130px;
 border: 1px solid black;
}
.pageContentMovie{
width:90%;
}
h1, h4, h3, p{
margin-bottom:0;
margin-top:0;
}
.textField{
width:250px;
text-align:center;
}
.textArea{
width:450px;
}
.languageBorder{
border: 1px dashed  #11c116;
}
.imgList {
width:150px;
height:200px;
margin-left: 30px;
float: left;
}
.imgListUser {
width:100px;
height:128px;
margin-left: 70px;
margin-top: 1px;
float: left;
}
.imgUser {
width:310px;
height:400px;
float: left;
padding:2px;
border: 3px solid  #11c116;
}
.imgUpload{
width:360px;
height:460px;
margin-top:2px;
}
.name{
color: #ff0505;
}
.imgPageDiv{
width:360px;
height:510px;
float: right;
margin:5px;
}
.imgPage{
width:360;
height:460;
margin:5px;
}
.titles{
margin:10px;
text-align: left;
}
.text{
margin:10px;
text-align: justify;
}
.textBioList{
height:200px;
padding-right:20px;
padding-left:20px;
overflow: hidden;
text-overflow: clip;
text-align: justify;
}
.movieLink{
float:left;
width:200px;
margin:5px;
border: 1px solid  #11c116;
}
.editGenreBlock{
height:50px;
border: 1px solid #11c116;
}

